<div class="container" id="about-page-container">
	<section class="profile">
		<img src="http://res.cloudinary.com/brandonliu/image/upload/c_crop,h_1366,w_1366/v1434587422/Brandon%20Liu%20Profile.jpg" class="profile-image">
	</section>
	<section class="about-information">
		<h2>About Brandon</h2>
		<p>Building mileage through constant practice in illustration and animation, Brandon one day hopes to become a master at his craft. He is always learning something new and taking on new challenges. Through hard work, discipline and preservation Brandon takes on these challenges without falling short of success. He is currently going to Art Center College of Design in Fall 2015 for their Illustration major.</p>
	</section>
</div>