<div class="container" id="contact-page-container">
	<h2>Contact Information</h2>
	<ul class="contact-info">
		<li>
			<h3>Email:</h3>
			<p>brandon.d.liu@gmail.com</p>
		</li>

		<li>
			<h3>Twitter:</h3>
			<%= link_to "@CivilizedYapper", "https://twitter.com/CivilizedYapper" %>
		</li>

		<li>
			<h3>Tumblr:</h3>
			<%= link_to "someone0956.tumblr.com", "http://someone0956.tumblr.com/" %>
		</li>

		<li>
			<h3>DeviantArt:</h3>
			<%= link_to "someone0956.deviantart.com", "http://someone0956.deviantart.com/" %>
		</li>
	</ul>
</div>