html {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset done*/



body {
	font-family: Helvetica;
	background-color: $background-color;
}

@mixin vertical-align {
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin sliding-underline {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 1.3em;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: $underline-color;
		-webkit-transform: scaleX(0);
		tranform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;		
	}
	&:hover:before {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);		
		}
}

/* include this to check window width for responsive */
body:after {
	font-size: 300%;
	font-weight: bold;
	position: fixed;
	bottom: 60px;
	width: 100%;
	text-align: center;
	background-color: hsla(1, 60%, 40%, 0.7);
	color: white;
	padding: 5px 0;
	content: "below 320";
}

@media(min-width: 320px) {
	body:after {
		content: "320 to 480";
		background-color: hsla(90, 60%, 40%, 0.7);
	}
}

@media(min-width: 480px) {
	body:after {
		content: "480 to 768";
		background-color: hsla(180, 60%, 40%, 0.7);
	}
}

@media(min-width: 768px) {
	body:after {
		content: "768 to 1024";
		background-color: hsla(270, 60%, 40%, 0.7);
	}

	.col-1-3 {
		width: 30%;
	}
}

@media(min-width: 1024px) {
	body:after {
		content: "1024 and up";
		background-color: hsla(360, 60%, 40%, 0.7);
	}
}

/*site wide classes */

.container {
	padding-top: 2rem;
	margin: auto;
  box-sizing: border-box;
  width: 90%;
  position: relative;
}

/*h2 for show action titles*/

h2 {
	font-size: 3rem;
	font-weight: bold;
	padding-bottom: 2rem;
}


@media(max-width: 1024px) {
	h2 {
		font-size: 2rem;
	}
}

@media(max-width: 768px) {
	h2 {
		font-size: 1.5rem;
	}
}
/* h3 used as drawing/animation titles */

h3 {
	position: relative;
	padding: 0.8rem 0;
	font-weight: bold;
}

/*h4 as created time*/

h4 {
	font-size: 0.8rem;
}

.sliding-underline {
	@include sliding-underline;
}

/*flashes*/

.alert {
	width: 20rem;
	margin: auto;
	font-weight: 600;
	text-align: center;
	padding: 0.5rem;
}

.alert-success {
	color: green;
	border: 1px solid green;
	background-color: $flash-success;
}

.alert-failure {
	color: red;
	border: 1px solid red;
	background-color: $flash-failure;
}

/*admin footer*/

#admin {
	position: fixed;
	bottom: 1rem;
	right: 1rem;

	background-color: $flash-success;
	border: 1px solid green;
	padding: 0.5rem;

	span {
		float: left;
	}
}

/*pagination*/

.pagination {
	margin: 1rem;

	a, em {
		padding: 0 0.3rem;
	}
	em {
		position: relative;
	}
	.current::after {
		content: "";
		display: inline-block;
		position: absolute;
		right: -3px;
		bottom: -2px;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		background-color: #EDEDED;
		z-index: -1;
	}

	.previous_page {
		padding-right: 0.3rem;
	}

	.next_page {
		padding-left: 0.3rem;
	}
}