/*index*/

.drawing-container {
	width: 250px;
	display: inline-block;
	margin: 0.5rem;
	position: relative;
}

.thumbnail-display {
	width: 250px;
	height: 250px;
	position: relative;
	border: 5px solid white;
	box-shadow: 0px 3px 8px 1px rgba(110,110,110,1);

	&:hover {
		.thumbnail-overlay {
			opacity: 1.0;
		}
	}
}

#drawing-page-container {
	width: 1080px;
}

@media(max-width: 1220px) {
	#drawing-page-container {
		width: 810px;
	}
}

@media(max-width: 810px) {
	#drawing-page-container {
		width: 540px;
	}
}

@media(max-width: 540px) {
	#drawing-page-container {
		width: 270px;
	}
}

.thumbnail-overlay {
	opacity: 0;
	position: absolute;
	bottom: 4px;
	-webkit-transform: translateY(-0%);
		  -ms-transform: translateY(-0%);
				  transform: translateY(-0%);
  width: 240px;

  transition: opacity 0.5s;

	h3, h4 {
		padding: none;
		max-width: 220px;
		word-wrap: break-word;
		color: white;
		position: relative;
		bottom: 0.8rem;
		opacity: 0.9;
		left: 0.5rem;
		text-shadow: 1px 1px 2px hsl(0, 0%, 0%);
	}

	h3 {
		margin-top: 1rem;
	}
	background: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 1));
}

.new-button {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
}

/*show*/

.fullsize-drawing-container {
	display: inline-block;
	width: 60%;
}

.small-text {
	clear: both;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 0.7rem;
	text-align: center;
}

.side-information {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	padding-left: 2rem;
	padding-top: 2rem;
	word-wrap: break-word;
}

.description {
	padding-top: 2rem;
}

@media(max-width: 768px) {
	.fullsize-drawing-container {
		width: 100%;
	}

	.side-information {
		width: 100%;
	}
}
