header {
	display: block;
}

header:after {
	clear: both;
}

#brandon-title {
	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 2rem;
	padding-top: 1rem;
	font-size: 5rem;
}

#navbar {
	margin: auto;
	display: block;
	text-align: center;
	padding-bottom: 0.5rem;
}

.nav-link {
	display: inline-block;
	text-align: center;
	padding: 0 1rem 0 1rem;
}

.compact-nav {
	position: relative;
	top: 2rem;
}

@media(min-width: 768px) {
	.compact-nav {
		display: none;
	}
}

@media(max-width: 768px) {
	#brandon-title {
		font-size: 3rem;
		float: left;
		position: relative;
		left: 2rem;
		top: 1rem;
	}
	.compact-nav .navbar {
		display: none;
		position: absolute;
		right: 3rem;
		top: 6rem;
		float: right;
		padding: 0 1rem 0.5rem 1rem;
		z-index: 1;
		background-color: #666;
		opacity: 0.98;
		border-radius: 3px;

		.nav-link {
			display: block;
			float: none;
			padding: 1rem 2rem 0.5rem 0.5rem;
			text-align: left;
		}
		a {
			color: hsl(230, 10%, 70%);
			&:hover {
				color: hsl(230, 10%, 55%);
			}
		}
		.drop-down-after:after {
			content: "";
			width: 191%;
			border: 1px solid hsla(0, 0%, 60%, 1);
			position: relative;
			top: 0.6rem;
			display: block;
			right: 1.5rem;

		}
	}

	.compact-nav {
		display: block;
	}

	#navbar {
		display: none;
	}
}

#header-clear {
	clear: both;
	margin-bottom: 1rem;
}

/*compact menu icon*/

.menu-icon {
	float: right;
	position: relative;
	right: 3rem;
	top: 3rem;
}

.menu-horizontal-line {
	background-color: hsl(230, 10%, 18%);
	width: 3rem;
	height: 0.5rem;
	margin-bottom: 0.5rem;
}