// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.request-page-container {
	padding-top: 2rem;
	margin: auto;
  width: 70%;
  position: relative;
  padding-bottom: 5rem;
}

.request-container {
	border: 1px solid $border-color;
	margin-bottom: 2rem;
	padding: 0 1rem 1rem 1rem;
	overflow: hidden;
	word-wrap: break-word;
	box-sizing: border-box;
	h3 {
		margin: 0.5rem 0;
		font-size: 1.5rem;
		margin-right: 1.5rem;
	}
}

.delete-option {
	float: right;
	position: relative;
	bottom: 0.5rem;
	right: 0.5rem;
}

.request-submit {
	display: block;
	width: 60%;
	margin: auto;
}

@media(max-width: 768px) {
	.request-submit {
		width: 80%;
	}
}

@media(max-width: 480px) {
	.request-submit {
		width: 100%;
	}
}

/*arrow icons*/

.diag-up-right-line, .diag-up-left-line {
	width: 7px;
	height: 16px;
	float: left;
	position: absolute;
	border-radius: 1px;
	background-color: hsl(0, 0, 50);
}

.up-arrow {
	.diag-up-right-line {
		right: 0;
		transform: rotate(45deg);
	}
	.diag-up-left-line {
		left: 0;
		transform: rotate(-45deg);
	}
	.voted {
		background-color: hsl(210, 40, 50); 
	}
}

.down-arrow {
	position: relative;
	top: 8px;
		.diag-up-right-line {
		left: 0;
		transform: rotate(45deg);
	}
	.diag-up-left-line {
		right: 0;
		transform: rotate(-45deg);
	}
	.voted {
		background-color: hsl(0, 40, 50);
	}
}

/*vote form styling*/

.votes {
	position: relative;
	float: right;
	right: 15px;
	top: 5px;
}

.new_vote, .edit_vote {
	display: block;
	background-color: transparent;
	button {
		background-color: transparent;
		padding: 0;
		border: none;
		margin: 0;
		width: 24px;
		height: 16px;
	}
}

.new_vote > button {
	width: 0;
	height: 0;
}
.edit_vote > button {
	width: 0;
	height: 0;
}

/*verification*/

.verify-button {
	background-color: #666;
	padding: 0.2rem;
}

.verified {
	color: $flash-success;
}

.unverified {
	color: $flash-failure;
}