
/*homepage*/

.full-page {
	width: 100%;
	height: 100vh;
}

.horizontal-div {
	width: 100%;
	margin-bottom: 1em;
	text-align: center;
}

.horizontal-divider {
	margin-left: 7.5%;
	width: 85%;
	border-top: 2px solid $font-color;
	display: inline-block;
}

#bottom-span {
	width: 70%;
}

#homepage-container {
	max-width: 70%;
	margin: auto;
	position: relative;
  top: 20%;
  box-sizing: border-box;
}


/*window sizing*/

@media(max-width: 768px) {
	h1 {
		font-size: 6rem;
	}
}

@media(max-width: 538px) {
	h1{
		font-size: 4rem;
	}
}

/*about page*/

#about-page-container {
	width: 70%;
}

.profile {
	display: inline-block;
	width: 40%;
	margin-bottom: 2rem;

	border: 5px solid white;
	box-shadow: 0px 3px 8px 1px rgba(110,110,110,1);
}

.about-information {
	display: inline-block;
	vertical-align: top;
	width: 55%;
	padding-left: 2rem;

}

@media(max-width: 768px) {
	.profile, .about-information {
		display: block;
		width: 100%;
	}

	.about-information {
		padding-left: 0;
	}
}

/*contact page*/

#contact-page-container {
	width: 100%;
	text-align: center;
	margin: auto;
	display: block;

	ul {
		display: inline-block;
		text-align: left;
	}

	li {
		display: block;
	}
}