<header>
	<h1 id="brandon-title">Brandon<br>Liu</h1>
	<nav id="navbar">
		<span class="nav-link"><%= link_to "Drawings", drawings_path %></span><!--
		--><span class="nav-link"><%= link_to "Animations", "#" %></span><!--
		--><span class="nav-link"><%= link_to "Requests", "#" %></span><!--
		--><span class="nav-link"><%= link_to "About", "#" %></span>			
	</nav>
	<div class="navbar-divider"></div>
</header>
