<header>
	<h1 id="brandon-title">Brandon<br>Liu</h1>
	<nav id="navbar">
		<span class="nav-link"><%= link_to "Drawings", drawings_path, class: "sliding-underline" %></span><!--
		--><span class="nav-link"><%= link_to "Animations", animations_path, class: "sliding-underline" %></span><!--
		--><span class="nav-link"><%= link_to "Requests", "#", class: "sliding-underline" %></span><!--
		--><span class="nav-link"><%= link_to "About", "#", class: "sliding-underline" %></span>			
	</nav>
</header>
<div id="header-clear"></div>